In [1]:
import pandas as pd
import numpy as np
from scipy import stats
pd.options.display.float_format = "{:,.4f}".format

In [2]:
t = {'Algorithm': ['Adult1','Adult2','Adult3','Cover1','Cover2','Cover3','Letter_p11','Letter_p12','Letter_p13','Letter_p21','Letter_p22','Letter_p23'],
     'KNN':       [100     , 100    , 100    ,  100   , 100    , 100    , 100        , 100        , 100        , 100        , 100        , 100        ],
     'LOGIT':     [85.00   , 85.04  , 84.90  ,  76.44 , 76.50  , 75.38  , 96.56      , 96.20      , 96.08      , 73.82      , 72.20      , 73.26      ],
     'RF':        [100     , 100    , 100    ,  100   , 100    , 100    , 100        , 100        , 100        , 100        , 100        , 100        ]
    }

train_scores = pd.DataFrame(t).set_index('Algorithm').T.div(100)
train_scores

Algorithm,Adult1,Adult2,Adult3,Cover1,Cover2,Cover3,Letter_p11,Letter_p12,Letter_p13,Letter_p21,Letter_p22,Letter_p23
KNN,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
LOGIT,0.8500,0.8504,0.8490,0.7644,0.7650,0.7538,0.9656,0.9620,0.9608,0.7382,0.7220,0.7326
RF,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000

In [3]:
ts = {'Algorithm': ['Adult', 'Cover', 'Letter_p1', 'Letter_p2'],
      'KNN':       [train_scores.iloc[0,:3].mean(), train_scores.iloc[0,3:6].mean(), train_scores.iloc[0,6:9].mean(), train_scores.iloc[0,9:].mean()],
      'LOGIT':     [train_scores.iloc[1,:3].mean(), train_scores.iloc[1,3:6].mean(), train_scores.iloc[1,6:9].mean(), train_scores.iloc[1,9:].mean()],
      'RF':        [train_scores.iloc[2,:3].mean(), train_scores.iloc[2,3:6].mean(), train_scores.iloc[2,6:9].mean(), train_scores.iloc[2,9:].mean()]
     }
mean_train = pd.DataFrame(ts).set_index('Algorithm').T
mean_train

Algorithm  Adult  Cover  Letter_p1  Letter_p2
KNN       1.0000 1.0000     1.0000     1.0000
LOGIT     0.8498 0.7611     0.9628     0.7309
RF        1.0000 1.0000     1.0000     1.0000

In [4]:
s = {'Algorithm': ['Adult1','Adult2','Adult3','Cover1','Cover2','Cover3','Letter_p11','Letter_p12','Letter_p13','Letter_p21','Letter_p22','Letter_p23'],
     'KNN':       [82.99   , 82.24  , 82.51  ,  78.35 , 77.66  , 78.19  , 99.11      , 99.13      , 99.09      , 95.53      , 95.67      , 95.83],
     'LOGIT':     [84.61   , 84.54  , 84.45  ,  75.48 , 75.40  , 76.13  , 96.13      , 96.25      , 96.29      , 72.65      , 72.59      , 72.70],
     'RF':        [84.78   , 84.41  , 84.61  ,  82.13 , 81.68  , 82.64  , 98.53      , 98.93      , 98.77      , 94.36      , 94.99      , 94.31]
    }

raw_scores = pd.DataFrame(s).set_index('Algorithm').T.div(100)
raw_scores

Algorithm,Adult1,Adult2,Adult3,Cover1,Cover2,Cover3,Letter_p11,Letter_p12,Letter_p13,Letter_p21,Letter_p22,Letter_p23
KNN,0.8299,0.8224,0.8251,0.7835,0.7766,0.7819,0.9911,0.9913,0.9909,0.9553,0.9567,0.9583
LOGIT,0.8461,0.8454,0.8445,0.7548,0.7540,0.7613,0.9613,0.9625,0.9629,0.7265,0.7259,0.7270
RF,0.8478,0.8441,0.8461,0.8213,0.8168,0.8264,0.9853,0.9893,0.9877,0.9436,0.9499,0.9431

In [5]:
ms = {'Algorithm': ['Adult', 'Cover', 'Letter_p1', 'Letter_p2'],
      'KNN':       [raw_scores.iloc[0,:3].mean(), raw_scores.iloc[0,3:6].mean(), raw_scores.iloc[0,6:9].mean(), raw_scores.iloc[0,9:].mean()],
      'LOGIT':     [raw_scores.iloc[1,:3].mean(), raw_scores.iloc[1,3:6].mean(), raw_scores.iloc[1,6:9].mean(), raw_scores.iloc[1,9:].mean()],
      'RF':        [raw_scores.iloc[2,:3].mean(), raw_scores.iloc[2,3:6].mean(), raw_scores.iloc[2,6:9].mean(), raw_scores.iloc[2,9:].mean()]
     }
mean_scores = pd.DataFrame(ms).set_index('Algorithm').T
mean_scores

Algorithm  Adult  Cover  Letter_p1  Letter_p2
KNN       0.8258 0.7807     0.9911     0.9568
LOGIT     0.8453 0.7567     0.9622     0.7265
RF        0.8460 0.8215     0.9874     0.9455

In [6]:
acs = {'Algorithm': ['Accuracy'],
      'KNN':       [raw_scores.iloc[0,:].mean()],
      'LOGIT':     [raw_scores.iloc[1,:].mean()],
      'RF':        [raw_scores.iloc[2,:].mean()]
     }
mean_scores = pd.DataFrame(acs).set_index('Algorithm').T
mean_scores

Algorithm  Accuracy
KNN          0.8886
LOGIT        0.8227
RF           0.9001

In [7]:
def ttest(a,b):
    li = []
    for i in range(raw_scores.shape[0]+1):
        li.append(stats.ttest_rel(raw_scores.iloc[a,i*3:i*3+3], raw_scores.iloc[b,i*3:i*3+3]))
    return li

ab = pd.DataFrame(ttest(0,1), columns=['t-test','p-value'])
bc = pd.DataFrame(ttest(1,2), columns=['t-test','p-value'])
ac = pd.DataFrame(ttest(0,2), columns=['t-test','p-value'])

In [8]:
dat = {'Algorithm': ['Adult', 'Cover', 'Letter_p1', 'Letter_p2'],
       'KNN / LOGIT':       [ab.iloc[0,0], ab.iloc[1,0], ab.iloc[2,0], ab.iloc[3,0]],
       'LOGIT / RF':     [bc.iloc[0,0], bc.iloc[1,0], bc.iloc[2,0], bc.iloc[3,0]],
       'RF / KNN':        [ac.iloc[0,0], ac.iloc[1,0], ac.iloc[2,0], ac.iloc[3,0]],
      }

data_alg_t = pd.DataFrame(dat).set_index('Algorithm').T
data_alg_t

Algorithm      Adult    Cover  Letter_p1  Letter_p2
KNN / LOGIT  -9.9451   9.8382    55.4400   301.5335
LOGIT / RF   -0.6777 -60.0790   -30.2642   -88.2088
RF / KNN    -17.3002 -20.8347     3.2694     4.6112

In [9]:
dap = {'Algorithm': ['Adult', 'Cover', 'Letter_p1', 'Letter_p2'],
       'KNN':       [ab.iloc[0,1], ab.iloc[1,1], ab.iloc[2,1], ab.iloc[3,1]],
       'LOGIT':     [bc.iloc[0,1], bc.iloc[1,1], bc.iloc[2,1], bc.iloc[3,1]],
       'RF':        [ac.iloc[0,1], ac.iloc[1,1], ac.iloc[2,1], ac.iloc[3,1]],
      }

data_alg_p = pd.DataFrame(dap).set_index('Algorithm').T
data_alg_p

Algorithm  Adult  Cover  Letter_p1  Letter_p2
KNN       0.0100 0.0102     0.0003     0.0000
LOGIT     0.5679 0.0003     0.0011     0.0001
RF        0.0033 0.0023     0.0822     0.0440

In [10]:
at = {'Algorithm': ['T-statistic'],
      'KNN':       [stats.ttest_rel(raw_scores.iloc[0,:],raw_scores.iloc[1,:])[0]],
      'LOGIT':     [stats.ttest_rel(raw_scores.iloc[1,:],raw_scores.iloc[2,:])[0]],
      'RF':        [stats.ttest_rel(raw_scores.iloc[0,:],raw_scores.iloc[2,:])[0]]
     }

alg_t = pd.DataFrame(at).set_index('Algorithm').T
alg_t

Algorithm  T-statistic
KNN             2.2580
LOGIT          -3.0235
RF             -1.8513

In [11]:
ap = {'Algorithm': ['P-value'],
      'KNN':       [stats.ttest_rel(raw_scores.iloc[0,:],raw_scores.iloc[1,:])[1]],
      'LOGIT':     [stats.ttest_rel(raw_scores.iloc[1,:],raw_scores.iloc[2,:])[1]],
      'RF':        [stats.ttest_rel(raw_scores.iloc[0,:],raw_scores.iloc[2,:])[1]]
     }

alg_p = pd.DataFrame(ap).set_index('Algorithm').T
alg_p

Algorithm  P-value
KNN         0.0452
LOGIT       0.0116
RF          0.0911